@import "tailwindcss";
/* @plugin "daisyui" {
  themes: light --default, dark --prefersdark, emerald;
} */

:root {
  /* Custom Color */
  --color-lama: #f35c7a;

  /* Gradients */
  --gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );
}

/* Optional: Extend Tailwind classes to use these */
@layer utilities {
  .bg-gradient-radial {
    background-image: var(--gradient-radial);
  }

  .bg-gradient-conic {
    background-image: var(--gradient-conic);
  }

  .text-lama {
    color: var(--color-lama);
  }

  .bg-lama {
    background-color: var(--color-lama);
  }

  .border-lama {
    border-color: var(--color-lama);
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
}
